.mainContainer {
    header {
      height: 105px;
      align-items: end;
    }
  }
  
  .postsList {
    margin: 1rem auto;
  }
  
  .post {
    margin: 3rem auto;
  
    h1 {
      color: var(--white);
      font-weight: 700;
      font-size: 1.75rem;
      line-height: 2.11rem;
      text-align: justify;
    }
  
    p {
      margin: 0.5rem auto;
      color: var(--gray-100);
      font-size: 1.12rem;
      line-height: 1.36rem;
      text-align: justify;
    }
  
    .postFooter {
      font-size: 0.93rem;
      margin-top: 1.5rem;
      color: var(--gray-100);
  
      span {
        svg {
          stroke: var(--white);
          margin-right: 0.5rem;
        }
  
        & + span {
          margin-left: 1.5rem;
        }
      }
  
    }
  }
  
  .loadMorePosts {
    color: var(--highlight);
    background-color: transparent;
    border: 0;
  }
  
  @media (max-width: 720px) {
    .mainContainer {
      padding: 0 2rem 2rem;
    }
  }